<h1>Editing Investment Contract Det</h1>

<%= render 'form', investment_contract_det: @investment_contract_det %>

<%= link_to 'Show', @investment_contract_det %> |
<%= link_to 'Back', investment_contract_dets_path %>
