<p id="notice"><%= notice %></p>

<p>
  <strong>Idetcontribday:</strong>
  <%= @investment_contract_det.idetContribDay %>
</p>

<%= link_to 'Edit', edit_investment_contract_det_path(@investment_contract_det) %> |
<%= link_to 'Back', investment_contract_dets_path %>
