<h1>Editing Car Rental Contract Det</h1>

<%= render 'form', car_rental_contract_det: @car_rental_contract_det %>

<%= link_to 'Show', @car_rental_contract_det %> |
<%= link_to 'Back', car_rental_contract_dets_path %>
